@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


:root{
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%,30%);
    --Neutral-900: hsl(248, 70%, 10%);
    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);
    --Gradient-text:  -webkit-linear-gradient(45deg , hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}
*{
    padding : 0;
    margin :0;
    font-family: 'Inconsolata';
 
}
main{
    background-image:url("assets/images/pattern-circle.svg"),url("assets/images/pattern-lines.svg") ,url("assets/images/pattern-squiggly-line-top.svg"),url("assets/images/pattern-squiggly-line-bottom-desktop.svg"),url("assets/images/pattern-circle.svg"),url("assets/images/background-desktop.png");
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-position: 5vw -20vh ,top ,right 10vh,0 bottom,64vw 75vh,center;
    display: grid;
    place-content: center;
    
}



#form-sect{
    display: none; /* flex  */
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}
.box-app-name{
    align-self:center ;
    margin: 5vh 0;
}

h1{
    font-size: 4rem;
    color : var(--Neutral-0);
    text-align: center;
    margin-bottom: 3vh;
    width: 70vw;
}

.text-descr{
    color: var(--Neutral-300);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10vh;
    
}

.box-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    align-items: center;
    
}

.label-input{
    color: var(--Neutral-0);
    margin-bottom: 1vh;
    font-size: 20px;
    align-self: self-start;
}

.Avatar{
    background-color: var(--Neutral-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: var(--Neutral-500) 2px dashed;
    justify-content: space-evenly;
    height: 100px;
    width: 31vw;
    padding: 0.4rem 0;
}

.upload-text{
    color : var(--Neutral-300)
}

.box-info{
    color: var(--Neutral-500);
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

.box-info-error{
    color : var(--Orange-700);
}
.svg-info{
    color : var(--Neutral-300)
}

.svg-round,.svg-point,.svg-stroke{
    stroke:var(--Orange-700);
}

.box-info{
    align-self: flex-start;
}

.text-info{
    margin-left: 0.7vw;
}

input[type = "text"], input[type = "email"]{
    height: 7vh;
    width: 30vw;
    background: var(--Neutral-700);
    border-radius: 0.5rem;
    border : var(--Neutral-500) 1px solid;
    padding-left: 1vw;
    color: var(--Neutral-300);
}

input::placeholder{
    color: var(--Neutral-300);
}

#button-generate{
    background-color: var(--Orange-700);
    height: 7vh;
    width: 30vw;
    padding-left: 1vw;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    color:var(--Neutral-900) ;
    font-weight: bold;
    cursor: pointer;
}


input:focus,.dropPlaceOver{
    outline: var(--Neutral-500) 2px solid;
    outline-offset: 0.2rem;
}




#button-generate:hover{
    border : var(--Neutral-900) 1px solid;
    outline: var(--Neutral-300) 1px solid;
    margin-bottom: 0;
}

#button-generate:active{
    background-color: var(--Neutral-900);
    color: var(--Orange-700);
}

.box-ticket{
    background-image: url("assets/images/pattern-ticket.svg");
    height:256px;
    width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2vw 2vw;
    margin-top : 5vh;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#result-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-ticker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-descr-ticket{
    color: var(--Neutral-300);
    font-size: 1.6rem;

}

.top-ticket > .text-descr-ticket{
    margin-left: 76px;
}

.ticket-name{
    color: var(--Neutral-0);
    font-size: 1.9rem;
}

.mark-logo-ticket{

    height: 50px;
}
.avatar-image{
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.bottom-ticket{
    display: flex;
    flex-direction: row;

}

.ticket-git-info{
    display: flex;
    flex-direction: row;
}

.icon-github{
    align-self: flex-start;
}

.user-info{
    padding-left: 1vw;
}


.aside-ticket{
    align-self: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color : var(--Neutral-500);
    font-size: 1.6rem;
}

.ErrEmail{
    display: none;
}

.ErrAvatar{
    display: none;
}

.avatarCompleted{
    place-items:  center;
    display: none;
    flex-direction: column;
}

.avatarNotCompleted{
    place-items:  center;
    display: flex;
    flex-direction: column;
}

.boxButtonAvatar{
    display: flex;
    flex-direction: row;
}

.button-avatar{
    color: var(--Neutral-0);
    cursor: pointer;
    background-color: var(--Neutral-700);
    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;
}

.button-avatar:has( +.button-avatar){
    margin-right: 0.4rem;
}

.button-avatar:hover{
    text-decoration: underline;
}

.imageAvatarCompleted{
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}


.gradient-text{
    background:var(--Gradient-text);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.colored-text{
    color : var(--Orange-700)
}

#result-sect > .text-descr{
    width: 45vw;
}
@media screen and (max-width : 770px){

    #form-sect{
        padding : 2vw;

    }
    h1{
        font-size: 2rem;
        width: 85vw;
    }

    input[type = "text"], input[type = "email"]{
        width: 95vw;
        font-size: 1.1;
        padding-left: 2vw;
    }
    .Avatar{
        width: 95vw;
    }
    #button-generate{
        width: 95vw;
        font-size: 1.2rem;
    }
    input::placeholder{
        font-size: 1.1rem;
    }
    .box-ticket{
        width: 85vw;
        height: calc(85vw * 0.42);
        padding: 2vh;
    }
    #result-sect > .text-descr{
        width: 85vw;
        margin-bottom: 2vh;
    }
    .text-descr-ticket{
        font-size: 3vw;
    }
    .mark-logo-ticket{

        height: 6vw;
    }

    .avatar-image{
        width: 9vw;
        height: 9vw;
    }
    .ticket-name{
        font-size: 5vw;
    }
    .icon-github{
        width: 3vw;
    }
    .top-ticket > .text-descr-ticket{
        margin-left: 8vw;
    }
    .aside-ticket{
        font-size: 5vw;
    }
}

